<mat-card >
    <mat-card-title>Excluir Gestor</mat-card-title>
    <br>
    <form class="col-md-10">
        <div class="row g-6">
            <div class="col-md-6">
              <label class="form-label">Nome</label>
              <input type="text" class="form-control" name="nome" [ngModel]="gestor.nome" disabled>
            </div>
            <div class="col-md-3">
                <label class="form-label">CPF</label>
              <input type="text" class="form-control" [value]="gestor.cpf" name="cpf" disabled>
            </div>
          </div>
          <br>
          <div class="row g-6">
            <div class="col-md-6">
                <label class="form-label">Região Administrativa</label>
                <input type="text" class="form-control" [ngModel]="gestor.regiao.nome" name="regiao" disabled>
          </div>
          </div>
          <br>
          <div class="row g-6">
            <div class="col-md-6">
                <label class="form-label">E-mail</label>
                <input type="text" class="form-control" [value]="gestor.email" name="email" disabled>
              </div>
              <div class="col-md-3">
                <label class="form-label" for="telefone">Telefone</label>
                <input type="text" class="form-control" [value]="gestor.telefone" name="telefone" disabled>
            </div>
          </div>
          <br>
          <br>
    </form>
    <br>
<button  class="btn btn-warning" mat-raised-button (click)="deleteGestor()">
    Deletar
</button>
<button class="btn-danger btn" mat-raised-button (click)="cancel()">
    Cancelar
</button>
</mat-card>

