.home .title {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
}

a,
a:hover,
a:active,
a:link,
a:visited {
	text-decoration: none;
	color: black;
}

.home .subtitle{
    font-size: 15px;
}
div{
  border-collapse: collapse;
}
table {
    border-collapse: collapse;
    border: 0px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  .table-hu{
    width: 1000px;
  }

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    width: 100px;
    height: 20px;
  }

  td {
    text-align: center;
    
  }

  teste{
    background-color: rgb(133, 250, 133);
  }

  caption {
    padding: 10px;
  }