<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        CONSULTA DE HORARIOS
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Está será a tela inicial para a visualização dos horarios disponiveis  
    </mat-card-subtitle>
    <table class="table table-striped">
        <tr>
          <th>Horários</th>
          <th>Segunda-Feira</th>
          <th>Terça-Feira</th>
          <th>Quarta-Feira</th>
          <th>Quinta-Feira</th>
          <th>Sexta-Feira</th>
        </tr>
        <tr>
          <th>10h as 12h</th>
          <td>Reservado</td>
          <td>Disponível</td>
          <td>Disponível</td>
          <td>Reservado</td>
          <td>Reservado</td>
        </tr>
        <tr>
          <th>12h as 14h</th>
          <td>Reservado</td>
          <td>Reservado</td>
          <td>Disponível</td>
          <td>Reservado</td>
          <td>Reservado</td>
        </tr>
        <tr>
          <th>14h as 16h</th>
          <td>Disponível</td>
          <td>Reservado</td>
          <td>Disponível</td>
          <td>Reservado</td>
          <td>Reservado</td>
        </tr>
        <tr>
          <th>16h as 18h</th>
          <td>Disponível</td>
          <td>Reservado</td>
          <td>Disponível</td>
          <td>Reservado</td>
          <td>Reservado</td>
        </tr>
        <tr>
            <th>18h as 20h</th>
            <td>Disponível</td>
            <td>Reservado</td>
            <td>Disponível</td>
            <td>Reservado</td>
            <td>Reservado</td>
          </tr>
      </table>
      <button class="btn-primary" mat-raised-button (click)="navigateToReservaCreate()">
        Nova Reserva
    </button>
  
</mat-card>