<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item routerLink="/reserva/create">
                <i class="material-icons">
                    add
                </i>
                Reservas
            </a>
            <a mat-list-item routerLink="/gestores">
                <i class="material-icons">
                    add
                </i>
                Gestores
            </a>
            <a mat-list-item routerLink="/quadras">
                <i class="material-icons" >
                    add
                </i>
                Quadras
            </a>
            <a mat-list-item routerLink="/solicitantes">
                <i class="material-icons" >
                    add
                </i>
                Solicitantes
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
