<mat-card class="conteiner-fluid">
    <mat-card-title class="title">
        CONSULTA DE SOLICITANTES
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Está será a tela inicial para a visualização dos solicitantes
    </mat-card-subtitle>
<button class="btn-primary" mat-raised-button (click)="navigateToSolicitanteCreate()">
    Novo Solicitante
</button>
<br>
<br>
<div class="table-container">
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sol of solicitantes; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ sol.nome }}</td>
      <td>{{ sol.cpf }}</td>
      <td>{{ sol.email }}</td>
      <td><a routerLink="/solicitante/update/{{sol.id}}">
        <i class="material-icons edit">
          edits
        </i>
      </a>
      <a routerLink="/solicitante/delete/{{sol.id}}">
        <i class="material-icons delete">
          delete
        </i>
      </a>
    </td>
    </tr>
    </tbody>
  </table>
</div>
</mat-card>
