i.edit{
    color: #d9cd26;
}

i.delete{
    color: #e35e6b;
}
table {
    width: 100%;
}
.new{
    right: 100px;
}

th.mat-header-cell {
    text-align: center !important;
  }

td.mat-cell{
    vertical-align: middle;
    text-align: center !important;
}
