<mat-card >
    <mat-card-title>Atualizar Gestor</mat-card-title>
    <br>
    <form class="col-md-10">
        <div class="row g-6">
            <div class="col-md-6">
              <label class="form-label">Nome<span>*</span></label>
              <input type="text" class="form-control" name="nome" [(ngModel)]="gestor.nome" >
            </div>
            <div class="col-md-3">
                <label class="form-label">CPF<span>*</span></label>
              <input type="text" class="form-control" [(ngModel)]="gestor.cpf" name="cpf" >
            </div>
          </div>
          <br>
          <div class="row g-6">
            <div class="col-md-6">
                <label class="form-label">Região Administrativa<span>*</span></label>
                <input type="text" class="form-control" [(ngModel)]="gestor.regiao.nome" name="regiao" disabled>
          </div>
          </div>
          <br>
          <div class="row g-6">
            <div class="col-md-6">
                <label class="form-label">E-mail<span>*</span></label>
                <input type="text" class="form-control" [(ngModel)]="gestor.email" name="email" >
              </div>
              <div class="col-md-3">
                <label class="form-label" for="telefone">Telefone<span>*</span></label>
                <input type="text" class="form-control" [(ngModel)]="gestor.telefone" name="telefone" >
            </div>
          </div>
          <br>
          <br>
    </form>
    <br>
<button  class="btn btn-warning" mat-raised-button (click)="atualizarGestor()">
    Alterar
</button>
<button class="btn-danger btn" mat-raised-button (click)="cancel()">
    Cancelar
</button>
</mat-card>


