<mat-card >
    <mat-card-title>Novo Gestor</mat-card-title>
    <br>
    <form class="col-md-10">
        <div class="row g-6">
            <div class="col-md-6">
                <label class="form-label">Nome</label>
              <input type="text" class="form-control" [(ngModel)]="gestor.nome" name="nome">
            </div>
            <div class="col-md-3">
                <label class="form-label">CPF</label>
              <input type="text" class="form-control" [(ngModel)]="gestor.cpf" name="cpf">
            </div>
          </div>
          <br>
          <div class="row g-6">
            <div class="col-md-6">
                <label class="form-label">Região Administrativa</label>
                <select class="form-select" id="iregioes" [(ngModel)]="gestor.regiao" name="regiao">
                  <option *ngFor="let r of regiao"[ngValue]="r">{{r.sigla+' - '+r.nome}}</option>
                </select>
          </div>
          </div>
          <br>
          <div class="row g-6">
            <div class="col-md-6">
                <label class="form-label">E-mail</label>
                <input type="text" class="form-control" [(ngModel)]="gestor.email" name="email">
              </div>
              <div class="col-md-3">
                <label class="form-label" for="telefone">Telefone</label>
                <input type="text" class="form-control" mask="(00) 0000-0000" [(ngModel)]="gestor.telefone" name="telefone">
            </div>
          </div>
          <br>
          <br>
    </form>
    <div class="row g-6">
      <div class="col-md-3">
          <label class="form-label" for="login">Login</label>
          <input type="text" class="form-control" >
      </div>
      <div class="col-md-3">
          <label class="form-label" for="senha">Senha</label>
          <input type="password" class="form-control" >
        </div>
      <div class="col-md-3">
          <label class="form-label" for="confsenha">Confimar senha</label>
          <input type="password" class="form-control">
        </div>
    </div>
    <br>
<button  class="btn-primary btn"  mat-raised-button (click)="createGestor()">
    Salvar
</button>
<button class="btn-danger btn" mat-raised-button (click)="cancel()">
    Cancelar
</button>
</mat-card>
