<h2 class="text-center">+ Esportes</h2>

<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
        <label class="form-label">Login</label>
        <input class="form-control" type="text" name="user" id="user" [(ngModel)]="usuario.login" required />
    </div>
    <div class="form-group">
        <label class="form-label">Senha</label>
        <input class="form-control" type="password" name="password" id="password" [(ngModel)]="usuario.senha" required />
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Entrar</button>
    
</form>
